# Notebook destinado ao tratamento de dados e identificação de outliers do dataset "Aluguel_csv", utilizando apenas PANDAS e MATPLOTLIB.

-----------------------------------------------------------------------------------------------------------------------------

## Sobre a base de dados:

### O referido dataset contém informações de imóveis localizados na cidade do Rio de Janeiro, com dados sobre:

* Tipo de imóvel: Apartamento, Casa, Casa de Condominio, Indústria, Terreno, Quitinete, Casa de Vila, entre outros.
* Bairro
* Número de quartos
* Vagas de Garagem
* Suítes
* Área útil
* Valor do aluguel do imóvel
* Valor do Condomínio
* IPTU

-----------------------------------------------------------------------------------------------------------------------------

#### Neste Notebook, levaremos em consideração apenas imóveis residenciais dos tipos:

* Quitinete
* Casa
* Apartamento
* Casa de Condomínio
* Casa de Vila

#### Os demais tipos de imóvel serão desconsiderados.

-----------------------------------------------------------------------------------------------------------------------------

In [1]:
# Importação de bibliotecas:

import pandas as pd

In [4]:
# Importação do dataset:

dados = pd.read_csv('data/aluguel.csv', sep = ';')
dados.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN

In [5]:
# Informações gerais sobre o dataset:

dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB