###  Tratamento de dados utilizando o dataset ["Titanic: Machine Learning from Disaster"](https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/problem12.html)

#### Informações sobre as colunas do dataset:

* Survived (sobreviveu): Um campo "flag" que indica se o passageiro sobreviveu (valor 1) ou não (valor 0).
* Pclass (classe no navio): O passageiro poderia estar na primeira classe ou em outra.
* Name (nome): Nome dos passageiros.
* Sex (gênero): Gênero do passageiro.
* Age (idade): Idade do passageiro.
* Siblings/Spouses Aboard (Irmãos/cônjuges a bordo): Parentes a bordo.
* Parents/Children Aboard (Pais/filhos a bordo): Parentes a bordo.
* Fare (tarifa): Preço pago na passagem.

***

#### Tarefas:

* Extrair informações sobre o dataset:

    - N° de registros e variáveis;

    - Informações sobre os tipos de variáveis e alterações pertinentes;

    - Remoção de registros repetidos/duplicados;

    - Unificar as colunas 'Siblings/Spouses Aboard' e 'Parents/Children Aboard';

    - Criar categorias para a idade do passageiro:

    > Passageiros com idades entre 0 e 12 anos: Criança
    
    > Passageiros com idades entre 12 e 18: Adolescente
    
    > Passageiros com idades entre 18 e 65: Adulto
    
    > Passageiros com idade maior que 65: Idoso

***

In [1]:
# Importação de bibliotecas:

import pandas as pd

In [11]:
# Importação dos dados:

titanic = pd.read_csv('data/titanic.csv')
titanic.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,male,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,female,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,male,35.0,0,0,8.0500

In [5]:
# Mais informações sobre os dados: Quantidade de registros e variáveis

print(f'O dataset possui {titanic.shape[0]} registros e {titanic.shape[1]} variáveis')

O dataset possui 887 registros e 8 variáveis

In [7]:
# Descrição dos tipos de dados presentes:

titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887 entries, 0 to 886
Data columns (total 8 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Survived                 887 non-null    int64
 1   Pclass                   887 non-null    int64
 2   Name                     887 non-null    object
 3   Sex                      887 non-null    object
 4   Age                      887 non-null    float64
 5   Siblings/Spouses Aboard  887 non-null    int64
 6   Parents/Children Aboard  887 non-null    int64
 7   Fare                     887 non-null    float64
dtypes: float64(2), int64(4), object(2)
memory usage: 55.6+ KB

In [14]:
# Removendo possíveis registros duplicados:

titanic.drop_duplicates(keep = 'last', inplace = True)

In [16]:
# Alterações de tipo/formatação dos dados:

# Alterando as informações de idade do tipo float para o tipo int:

titanic['Age'] = titanic['Age'].astype(int)

# Passando as informações sobre o gênero para letras maiúsculas:

titanic['Sex'] = titanic['Sex'].str.upper()

In [17]:
# Unificando as colunas 'Siblings/Spouses Aboard' e 'Parents/Children Aboard' em uma nova coluna:

titanic['Relatives_aboard'] = titanic['Siblings/Spouses Aboard'] + titanic['Parents/Children Aboard']
titanic.head()

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare,Relatives_aboard
0,0,3,Mr. Owen Harris Braund,MALE,22,1,0,7.2500,1
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,FEMALE,38,1,0,71.2833,1
2,1,3,Miss. Laina Heikkinen,FEMALE,26,0,0,7.9250,0
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,FEMALE,35,1,0,53.1000,1
4,0,3,Mr. William Henry Allen,MALE,35,0,0,8.0500,0